/* Global styling */

:root {
  font-size: 1rem;
  --heading-text-color: #1c2022;
  --main-text-color: #e7ebf9;
  --main-test-color: #000000; /* opacity 0% */
  --primary-background-color: #fafafa;
  --secondary-background-color: #f0f4f4;
  --main-button-color: #00db9a;
  --main-bg-footer-color: #3e54a3;
  --neutral-white-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1150px;
}

/* Styling of the header section */

.overall__Nav {
  padding: 2em 0;
  z-index: 1001;
  position: relative;
  background-color: var(--neutral-white-color);
}

.navLogo__container {
  padding-top: 1em;
  width: 10rem;
}

.nav__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each__middleNav {
  color: var(--heading-text-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.middle__navLink + .middle__navLink {
  margin-top: 3em;
}

/* 1. Styling for navigation desktop view */

.middle__nav,
.end__nav {
  display: none;
}

/* 2. Styling for navigation mobile view - hamburger */

#hamburger__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

#hamburger__icon > div {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--main-test-color);
  margin: 0.3em 0;
  transition: 0.4s, opacity 0.4s;
  position: absolute;
}

.bar__one {
  top: 0.4rem;
}

.bar__two {
  top: 0.9rem;
}

.bar__three {
  top: 1.4rem;
}

.open .bar__one {
  transform: translateY(0.5rem) rotate(-45deg);
}

.open .bar__two {
  opacity: 0;
}

.open .bar__three {
  transform: translateY(-0.5rem) rotate(45deg);
}

.mobile__menu {
  position: fixed;
  top: 9em;
  left: 90%;
  height: 40vh;
  width: 80%;
  max-width: 400px;
  background-color: var(--neutral-white-color);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1005;
  transition: transform 0.4s ease;
  transform: translate(-100%);
}

.page__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 888;
  display: none;
}

.open .mobile__menu {
  display: flex;
  transform: translateX(0);
}

.open .page__overlay {
  display: block;
}

.mobile__menu.open {
  height: 30vh;
}

/* Styling of the Hero section */

.desktop__heroImg {
  display: none;
}

.topHero__flex {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 7em;
}

.hero__images {
  position: relative;
}

.hero__mockUp {
  position: absolute;
  top: -9.5em;
  z-index: 999;
}

.heroContext__Info {
  text-align: center;
}

.page__heading {
  color: var(--heading-text-color);
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
}

.page__text {
  color: #808080;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.allButton {
  padding: 1.5rem 2.5rem;
  color: var(--neutral-white-color);
  background: linear-gradient(to right, #00db9a 60%, #66ccff 80%, #00aaff);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 0.75rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 6.25rem;
}

.hero__text,
.hero__Btn {
  margin-top: 2.5em;
}

/* Styling of the Why__section layout */

.why__Section {
  background-color: #f0f0f0;
  padding: 6em 0;
  text-align: center;
}

.page__subHead {
  font-size: 2.7rem;
}

.list__img {
  width: 25%;
  margin: 0 auto;
}

.list__heading {
  font-size: 2rem;
  font-weight: 500;
}

.bank__listing {
  margin-top: 2em;
}

.listing {
  margin-top: 1em;
}

/* Styling of the bottom layout of the landing page */

.bottom__main {
  padding: 8em 0 4em;
}

.article__head {
  text-align: center;
  margin-bottom: 2em;
}

.eachArt__grid {
  margin-bottom: 4em;
}

.article__context {
  width: 80%;
  margin: 2em auto 0em;
}

.blog__head {
  margin: 1em 0;
}

.blog__heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

/* Styling of the footer of the landing page */

footer {
  background-color: #2d314e;
  padding: 3em 0;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.8em;
  margin: 3em 0;
}

.socials {
  width: 2rem;
}

.footer__logo {
  text-align: center;
  width: 15rem;
}

.footer__items {
  text-align: center;
}

.foot__List {
  color: var(--neutral-white-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.page__copyright {
  font-size: 1.5rem;
}

.footer__btn {
  margin: 3em 0;
  text-align: center;
}

@media (min-width: 768px) {
  /* .container {
    width: 100%;
    margin: 0 auto;
  } */

  /* Styling of the why section */

  .why__Section {
    padding: 10em 0;
    text-align: left;
  }

  .why__context {
    width: 70%;
    margin-top: 2em;
  }

  .list__img {
    width: 35%;
    margin: unset;
  }

  .bankList__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    margin-top: 3em;
  }

  .page__subHead {
    font-size: 3rem;
  }

  .list__heading {
    font-size: 2rem;
  }

  .list__text {
    font-size: 1.5rem;
  }

  /* Styling of the bottom layout of the landing page */

  .bottom__main {
    padding: 8em 0 4em;
  }

  .article__head {
    text-align: left;
  }

  .article__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .article__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* @media (min-width: 600px) {
  #hamburger__icon {
    display: none;
  }
} */
